#languagebutton{
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10;
    color: white;
  
    
    border: none;
    height: 50px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#language img {
    height: 18px;
}

#language button {
    color: white;
    background: transparent;
    border: none;
    font-size:18px;
    padding: 0px 5px;
    margin: 0;
}

#language button:hover {
    color: goldenrod
}





