


.navContainer {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.navButtons {
    background-color: lightblue;
    height: 130px;
    margin-top: 25px;
    margin-bottom: 25px;
    z-index: -1;
    border: 5px solid transparent;
    display: flex;
    align-items: center;
}

.navButtons:hover {
    border: 5px solid goldenrod;
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.2);

}

.navButtons a {
    color: red;
    font-size: 34px;
    text-decoration: none;
    width: 15vw;
}

.left {
    padding-left: 10vw;
    }

.right {
    padding-left: 25vw;
    text-align: right;
}