


.navContainer {
    position: absolute;
    top: 60%;
    width: 100%;
    transform: translate(0, -50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.navButtons {
    background-color: #DCC4AA;
    height: 14vh;
    width: 100%;
    margin: 3.5vh 0px;
    z-index: -1;
    border: 3px solid #33281C;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 0px 0px goldenrod;
    transition: border 0.1s ease-in-out, box-shadow 0.2s ease-in-out;
}

.navButtons:hover {
    
    box-shadow: 0px 0px 15px 3px goldenrod;

}

.navButtons a {
    color: black;
    font-size: 3.5rem;
    width: 15vw;
    text-decoration: none;
   
}

.navButtons:hover a {
    color: white;
  
}

.left {
 padding-left: 22vh;
    }

.right a{
    position: relative; 
    left: 55vh;
   
    text-align: right;
}

#secrettext {
    opacity: 0;
    transition: opacity 1s;
}

#secret:hover #secrettext{
opacity: 1;
animation: navLink .4s steps(1,end) infinite;
color: red;
}


.nav-link:hover::before {
   
   }


.mainHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 20vh;
    background-color: transparent;
    color: white;
}

.mainHeader hr{
width: 40vw;
}

.mainHeader h1{
    font-size: 7vh;
    margin-top: 1vh;
    margin-bottom: 0;
    font-weight: 600;
}

.mainHeader h2 {
    margin-top: 0vh;
    font-size: 4vh;
    font-weight: 400;
}




@keyframes navLink {
    0% {
     transform:translate(-0.3em,-0.4em);
    }
    20% {
     transform:translate(0.4em,0em);
    }
    40% {
     transform:translate(-0.4em,0.2em);
    }
    60% {
     transform:translate(0em,-0.4em)
    }
    80% {
     transform:translate(0.2em,0.3em)
    }
   }

@media (orientation: portrait) {
    #main {
        display: none;
    }
}
