#logo {
    position: fixed;
    height: 35vh;
    width: 35vw;
    z-index: 1;
    text-align: center;
    font-size: 50px;
    top: 60%;
    left: 50%;
      transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo hr {
    width: 80%
}

#logophoto {
    width: 32vw;
    border-radius: 20vw;
}

#logosignature {
    position:absolute;
    width: 190px; 
    top: 20vw;
    transform: rotate(-12deg) translateX(30px)

}