#pricing {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
   
    position: fixed;
    top: 0;
}

#pricingHeader {
    height: 100px;
}
