#contact {
  height: 95vh;
  width: 100vw;
  z-index: 1;
  position: fixed;
  top: 30px;
  color: green;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

#contact a {
  color: white;
  text-decoration: none;
}

.contactWrapper {
  font-family: "Quicksand", sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin: 10px;
}

.phone {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  position: absolute;
  cursor: pointer;
}

.cta {
  height: 100px;
  width: 520px;
  color: white;
  z-index: 2;
  transition: 1.2s;
}

.contact1 {
  background-color: #b459d8;

}

.contact2 {
  background-color: #555ac0;
}

.contact3 {
  background-color: #24b47e;
}
.contact4 {
  background-color: #ac5183;
}

.number {
  height: 100px;
  width: 452px;
  background-image: linear-gradient(rgba(131, 131, 131, 0.5), rgba(0, 0, 0, 0.5)),
    url(./contact.png);
  background-size: cover;
  color: white;
  box-shadow: 3px 3px 30px #aaa;
  text-align: right;
  padding-left: 68px;
  z-index: 1;
}

.contactWrapper:hover .cta {
  transform: translateX(-80%);
  transition: 1.2s;
}
