:root {
--color-1: #4aaebd;
--color-2: #2e806b;
--color-3: #F7B733;
--color-4: #ffffff;;
--teal: #0A131B;
--teal-lighter: #223D58;
--golden: #33281C;
--golden-lighter: #8f7c67;
--cups: #DCC4AA;
--cups-lighter: #E2D2C2;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-image: linear-gradient(90deg, #223D58, #0A131B 80%);

overflow-x: hidden;
}

#background {
  background: linear-gradient(white, white) padding-box,
  linear-gradient(-130deg, white, var(--golden) 30%, var(--golden) 70%, rgb(172, 129, 22), white 92%) border-box;
  border: 15px solid transparent;
  position: fixed;
  top: 60%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 35vw;
  height: 35vw;
  border-radius: 50%;
 
  
  transition-property: width height;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

#test {
  
    position: fixed;
    top: 20px;
    right: 130px;
    z-index: 10;
    color: white;

}