#aboutme {
    position: fixed;
    z-index: 2;
    color: red;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#work,
#hobby {
    display: flex;
    width: 70vw;
    align-items: center;
    justify-content: center;
}

#work>div,
#hobby>div {

    width: 250px;
    height: 250px;
  margin: 1px;
   overflow: hidden;
}

#aboutme img {
    
    height: 100%;
    width: 100%;
    overflow: hidden;
}




.aboutDescription {
    display: block;
    position: relative;
    top: -45px;
    background-image: linear-gradient(0deg, black 30%, transparent);
    text-align: center;
    padding-top: 10px;
    height: 30px;
    width: 100%;
    
}

.aboutTileWrapper {
    height: 100%;
    width: 200%;
}

.aboutTileRight, .aboutTileLeft {
    height: 100%;
    width: 50%;
    display: inline-block;
    position: relative;
    left: 0;
    transition-property: left;
    transition-duration: 0.5s;
    
}


.aboutTileRight {
    top: -201px;
    background-color: bisque;
}

.aboutTile:hover .aboutTileLeft{
 left: -250px;
}

.aboutTile:hover .aboutTileRight{
    left: -250px;
   }